<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CoolCore.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="REMCore.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="OpenHardwareMonitorLib, Version=0.9.6.0, Culture=neutral" fullName="OpenHardwareMonitorLib, Version=0.9.6.0, Culture=neutral, PublicKeyToken=null" />
    </assemblyBinding>
    <legacyCasPolicy enabled="true" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <CoolCore.My.MySettings>
      <setting name="ApplicationTheme" serializeAs="String">
        <value>Standard</value>
      </setting>
    </CoolCore.My.MySettings>
    <REMCore.My.MySettings>
      <setting name="OS_RootDIr" serializeAs="String">
        <value />
      </setting>
    </REMCore.My.MySettings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>