<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CoolCore.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="REMCore.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="OpenHardwareMonitorLib, Version=0.9.6.0, Culture=neutral" fullName="OpenHardwareMonitorLib, Version=0.9.6.0, Culture=neutral, PublicKeyToken=null" />
    </assemblyBinding>
    <legacyCasPolicy enabled="true" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <CoolCore.My.MySettings>
      <setting name="ApplicationTheme" serializeAs="String">
        <value>Standard</value>
      </setting>
      <setting name="MonitorTime" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MAX_LOG_SIZE_KB" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LogStartStop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CpuLogoName" serializeAs="String">
        <value />
      </setting>
      <setting name="BootUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Autostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InfoMessage" serializeAs="String">
        <value>False</value>
      </setting>
    </CoolCore.My.MySettings>
    <REMCore.My.MySettings>
      <setting name="OS_RootDIr" serializeAs="String">
        <value />
      </setting>
    </REMCore.My.MySettings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection1" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection1" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection1" />
      </providers>
    </roleManager>
  </system.web>
</configuration>